@CHARSET "UTF-8";

/* General */
.colorFondoBase{
	background-color: #3881a0;
}

/* Login */
.centrado {
	margin-top: 7%;
	/* margin-right: 35%;
	margin-left: 35%; */
}

.baja-botones {
	margin-top: 15px;
}

.centrado .input-box {
	font-size: 18px;
	margin-bottom: 10px;
}

/* ABM vehiculos */
.formulario-ABM {
	/*padding:  0% 20%;*/
	font-size: 16px;
	/*padding: 25px 50px;*/
    border-radius: 15px;
	/*background: linear-gradient(45deg, #3881a0, #3881a078);*/
    box-shadow: 0px 0px 20px 5px black;
	
}

/* Seleccion de vehículos para alquilar */
.seleccionDeVehiculo .btn-outline-dark:hover {
    color: #fff;
    background-color: #3fc7c7;
}

/* Inicio Admin */
.sectionAction {
	height: 550px;
    text-align: center;
    font-size: 16px;
}

.sectionAction .imgContainer {
	height: 350px;
}

.sectionAction .imgContainer .img {
	height: 100%;
    width: 100%;
}